<%= form_with(model: server, class: "contents") do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% server.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Name"%>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :addr, "Introduce the public IP" %>
    <%= form.text_field :addr, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5"
    <%= form.label :IPv6, "Do you want to use IPv6?" %>
    <br></br>
    <%= form.radio_button :IPv6, true %>
    <%= form.label :IPv6_true, "Yes" %>

    <%= form.radio_button :IPv6, false %>
    <%= form.label :IPv6_false, "No" %>
  </div>

  <div class="my-5">
    <%= form.label :port, "Introduce the port" %>
    <%= form.text_field :port, value: "1194", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :protocol, "Select a protocol" %>
    <%= form.select :protocol, [['UDP(recommended)', 'udp'], ['TCP', 'tcp']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
  <%= form.label :dns, "DNS" %>
  <%= select_tag 'opciones', options_for_select([['Current system resolvers', 'current'], ['Self-hosted DNS(unbound)', 'unbound'], ['Cloudflare', 'cloudflare'], ['Quad9','quad9'],['Quad9 uncensored','quad9 uncensored'],['FDN(France)','fdn'],['DNS.WATCH(Germany)','dns.watch'],['OpenDNS','opendns'],['Google','google'],['Yandex Basic(Russia)','yandex'],['AdGuard DNS','adguard'],['NextDNS','nextdns'],['Write your custom DNS', 'otra']], 'opcion1'), id: 'opciones_select' %>

  <div id="otra_opcion_input" style="display: none;">
    <%= form.label :dns, "Primary DNS" %>
    <%= text_field_tag 'otra_opcion', '', class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>

    <%= form.label :dns, "Secondary DNS" %>
    <%= text_field_tag 'otra_opcion', '', class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#opciones_select').change(function() {
      if ($(this).val() === 'otra') {
        $('#otra_opcion_input').show();
      } else {
        $('#otra_opcion_input').hide();
      }
    });
  });
</script>

<div class="my-5">
<%= form.label :IPv6, "Do you want to use compression? (Not recommended)" %>
<br></br>
<%= form.radio_button :compression, true, id: "compression-btn" %>
<%= form.label :compression_true, "Yes" %>

<%= form.radio_button :compression, false, id: "compression-btn-no" %>
<%= form.label :compression_false, "No" %>
</div>

<div class="my-5" id="compression-select" style="display: none;">
  <%= form.label :compression, "Compression Options" %>
  <%= form.select :compression_options, [[' lz4-v2', 'lz4-v2'], ['lz4', 'lz4'], ['lzo', 'lzo']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<script>
  $(document).ready(function() {
    $('#compression-btn').click(function() {
      $('#compression-select').show();
    });
    $('#compression-btn-no').click(function() {
      $('#compression-select').hide();
    }); 
  });
</script>

<div class="my-5"
<%= form.label :IPv6, "Do you want to customize encryption settings ?" %>
<br></br>
<%= form.radio_button :encryption, true, id: "encryption-btn" %>
<%= form.label :encryption_true, "Yes" %>

<%= form.radio_button :encryption, false,  id: "encryption-btn-no" %>
<%= form.label :encryption_false, "No" %>
</div>

<div class="my-5" id="encryption-select" style="display: none;">
  <%= form.label :encryption, "Encryption Options\n" %>
  <br></br>
  <%= form.label :encryption, "Choose which cipher do you want to use" %>
  <%= form.select :encryption_options, [['AES-128-GCM(recommended)', 'AES-128-GCM'], ['AES-192-GCM', 'AES-192-GCM'], ['AES-256-GCM', 'AES-256-GCM'], ['AES-128-CBC', 'AES-128-CBC'], ['AES-192-CBC', 'AES-192-CBC'], ['AES-256-CBC', 'AES-256-CBC']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  <%= form.label :encryption, "Choose what kind of certificate you want to use."%>
  <%= form.select :encryption_options, [['ECDSA(recommended)', 'ECDSA'], ['RSA', 'RSA']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "certificate-select" %>
  <div id="certificate2-select" style="display: none;">
    <%= form.label :encryption, "Choose which curve want to use for the certificate's key"%>
    <%= form.select :compression_options, [[' prime256v1', 'prime256v1'], ['secp384r1', 'secp384r1'], ['secp521r1', 'secp521r1']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div id="certificate3-select" style="display: none;">
    <%= form.label :encryption, "Choose which size you want to use for the certificateś RSA key:"%>
    <%= form.select :compression_options, [[' 2048 bits(recommended)', '2048'], ['3072', '3072'], ['4096', '4096']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#encryption-btn').click(function() {
      $('#encryption-select').show();
      if ($('#certificate-select').val() === 'ECDSA') {
        $('#certificate2-select').show();
        $('#certificate3-select').hide();
      } else {
        $('#certificate2-select').hide();
      }
      if ($('#certificate-select').val() === 'RSA') {
        $('#certificate3-select').show();
      } else {
        $('#certificate3-select').hide();
      }
    });

    $('#encryption-btn-no').click(function() {
      $('#encryption-select').hide();
    });

    $('#certificate-select').change(function() {
      if ($(this).val() === 'ECDSA') {
        $('#certificate2-select').show();
      } else {
        $('#certificate2-select').hide();
      }
      if ($(this).val() === 'RSA') {
        $('#certificate3-select').show();
      } else {
        $('#certificate3-select').hide();
      }
    });
  });
</script>

<div class="my-5">
  <%= form.label :control_cipher, "Choose which cipher you want to use for the control channel" %>
  <%= form.select :control_cipher, [['ECDHE-ECDSA-AES-128-GCM-SHA256(recommended)', 'SHA-256'], ['ECDHE-ECDSA-AES-256-GCM-SHA384', 'SHA384']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher_select" %>
  <div id="cipher_choice" >
    <%= form.label :control_cipher, "Control channel cipher" %>
    <%= form.select :control_cipher, [['ECDHE-RSA-AES-128-GCM-SHA256(recommended)', 'ECDHE-RSA-SHA-256'], ['ECDHE-RSA-AES-256-GCM-SHA384', 'ECDHE-RSA-SHA384']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice" %>
  </div>
  <div id="cipher_choice2" style="display: none;">
    <%= form.label :control_cipher, "Control channel cipher" %>
    <%= form.select :control_cipher, [['TLS-ECDHE-RSA-WITH-AES-128-GCM-SHA256(recommended)', 'TLS-SHA-256'], ['TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384', 'TLS-SHA384']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice2" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#cipher_select').change(function() {
      var selectedOption = $(this).val();
      
      if (selectedOption === 'SHA-256') {
        $('#cipher_choice').show();
        $('#cipher_choice2').hide();
      } else if (selectedOption === 'SHA384') {
        $('#cipher_choice').hide();
        $('#cipher_choice2').show();
      } else {
        $('#cipher_choice').hide();
        $('#cipher_choice2').hide();
      }
    });
  });
</script>


<div class="my-5">
  <%= form.label :diffie_hellman, "Choose Diffie-Hellman key you want to use" %>
  <%= form.select :diffie_hellman, [['ECDH(recommended)', 'ECDH'], ['DH', 'DH']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "df_select" %>
  <div id="diffie_hellman" >
    <%= form.label :control_cipher, "Choose the curve type" %>
    <%= form.select :control_cipher, [['prime256v1(recommended)', 'prime256v1'], ['secp384r1', 'secp384r1'], ['secp521r1', 'secp521r1']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice" %>
  </div>
  <div id="diffie_hellman2" style="display: none;">
    <%= form.label :control_cipher, "Choose the size of the Diffie-Hellman key" %>
    <%= form.select :control_cipher, [['2048 bits(recommended)', '2048'], ['3072', '3072'],['4096','4096']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice2" %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#df_select').change(function() {
      var selectedOption = $(this).val();
      
      if (selectedOption === 'ECDH') {
        $('#diffie_hellman').show();
        $('#diffie_hellman2').hide();
      } else if (selectedOption === 'DH') {
        $('#diffie_hellman').hide();
        $('#diffie_hellman2').show();
      } else {
        $('#diffie_hellman').hide();
        $('#diffie_hellman2').hide();
      }
    });
  });
</script>

<div class="my-5">
    <%= form.label :digest_algorithm, "Select a digest algorithm for HMAC" %>
    <%= form.select :digest_algorithm, [['SHA-256(recommended)', 'SHA256'], ['SHA-384', 'SHA384'], ['SHA512','SHA512']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="my-5">
    <%= form.label :tls_sig, "Additional security" %>
    <%= form.select :tls_sig, [['tls-crypt(recommended)', 'tls-crypt'], ['tls-auth', 'tls-auth']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
