<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Vpn:</strong>
    <%= client.vpn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desc:</strong>
    <%= client.desc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cert:</strong>
    <%= client.cert %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Options:</strong>
    <%= client.options %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this client", client, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this client', edit_client_path(client), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
