<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Role</th>
        <th>Connect</th>
        <th>Settings</th>
        <% if current_user.admin %>
          <th>Monitore</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% if current_user.admin %>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client[:name] %></td>
          <td><%= client[:desc] %></td>
          <% if current_user.admin_vpn %>
            <td>Admin</td>
          <% else %>
            <td>User</td>
          <% end %>
          <td>
            <%= button_to "Connect", connect_path(client_id: client.id), class: "btn" %>
          </td>
          <td><%= client[:options] %></td>
          <% if current_user.admin %>
            <td><%= client[:monitore] %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% @clients_vpns.each do |client| %>
        <tr>
          <td><%= client[:name] %></td>
          <td><%= client[:desc] %></td>
          <% if current_user.admin_vpn %>
            <td>Admin</td>
          <% else %>
            <td>User</td>
          <% end %>
          <td>
            <%= button_to "Connect", connect_path(client_id: client.id), class: "btn" %>
          </td>
          <td><%= client[:options] %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
