<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Connect</th>
        <th>Settings</th>
        <% if current_user.admin %>
          <th>Monitore</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% if current_user.admin %>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client[:name] %></td>
          <% if current_user.admin_vpn %>
            <td>Admin</td>
          <% else %>
            <td>User</td>
          <% end %>
          <td>
            <%= button_to "Download", connect_path(client_id: client.id), id: "btnc", class: "btn btn-primary", data: { client_id: client.id, client_name: client.name } %>
          </td>
          <td>
            <%= link_to "Show", client_path(client), class: "btn btn-primary" %>
          </td>
          <% if current_user.admin %>
            <td><%= client[:monitore] %></td>
          <% end %>
        </tr>
      <% end %>
    <% else %>
      <% @clients_vpns.each do |client| %>
        <tr>
          <td><%= client[:name] %></td>
          <% if current_user.admin_vpn %>
            <td>Admin</td>
          <% else %>
            <td>User</td>
          <% end %>
          <td>
            <%= button_to "Download", connect_path(client_id: client.id), id: "btnc", class: "btn btn-primary", data: { client_id: client.id, client_name: client.name } %>
          </td>
          </td>
          <td>
            <%= link_to "Show", client_path(client), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<script>
document.querySelectorAll('.btnc').forEach((button) => {
  button.addEventListener('click', (event) => {
    event.preventDefault();
    const client_id = event.target.dataset.clientId;
    const client_name = event.currentTarget.dataset.clientName;

    // Realizar la solicitud AJAX
    fetch('/home', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': '<%= form_authenticity_token %>'
      },
      body: JSON.stringify({ client_id: client_id })
    })
    .then(response => {
      if (response.ok) {
        return response.blob();
      } else {
        throw new Error('Error en la solicitud AJAX');
      }
    })
    .then(blob => {
      // Crear un enlace temporal y descargar el archivo adjunto
      const url = URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = `${client_name}.ovpn`;
      a.click();

      // Liberar el enlace temporal
      URL.revokeObjectURL(url);
    })
    .catch(error => {
      console.error('Error:', error);
    });
  });
});

</script>

