
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Role</th>
        <th>Connect</th>
        <th>Settings</th>
        <% if current_user.admin %>
          <th>Monitore</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @vpns.each do |vpn| %>
        <tr>
          <td><%= vpn[:name] %></td>
          <td><%= vpn[:description] %></td>
          <% if current_user.admin_vpn %>
            <td>Admin</td>
          <%else%>
          <td>User</td>
          <%end%>
          <td>
            <%= button_to "Connect", connect_path(vpn_id: vpn.id), class:"btn" %>
          </td>
          <td><%= vpn[:settings] %></td>
          <% if current_user.admin %>
            <td><%= vpn[:monitoring] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
