<link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />





    <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
        <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
            <li class="mr-2" role="presentation">
            <%= button_tag class: "inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300 active", id: "new-tab", "data-tabs-target": "#new", type: "button", role: "tab", "aria-controls": "profile", "aria-selected": true do %>
                New VPN
            <% end %>
            </li>
            <li class="mr-2" role="presentation">
            <%= button_tag class: "inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300", id: "help-tab", "data-tabs-target": "#help", type: "button", role: "tab", "aria-controls": "settings", "aria-selected": false do %>
            Help
            <% end %>
            </li>
            <li role="presentation">
            <%= button_tag class: "inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300", id: "faq-tab", "data-tabs-target": "#faq", type: "button", role: "tab", "aria-controls": "contacts", "aria-selected": false do %>
            FAQ
            <% end %>
            </li>
        </ul>
    </div>
    <div id="myTabContent">
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800" id="new" role="tabpanel" aria-labelledby="profile-tab">
            <%= form_with(model: @vpn, class: "contents") do |form| %>
            <% if vpn.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
              <h2><%= pluralize(vpn.errors.count, "error") %> prohibited this vpn from being saved:</h2>
              <ul>
                <% vpn.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full  px-3 mb-6 md:mb-0">
                    <%= form.label :name, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 parse" do %>
                        Name
                    <% end %>
                    <%= form.text_field :name, name: "vpn[name]", id: "vpn_name", class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6"> 
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <label for="vpn_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Description
                        </label>
                        <%= form.text_area :description, id: "vpn_description", rows: 4, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Write your thoughts here..." %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :addr, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 parse" do %>
                            Introduce the public IP
                        <% end %>
                        <%= form.text_field :addr, name: "vpn[addr]",readonly: true,  class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", value: request.remote_ip %>
                    </div>
                </div>


                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full  px-3 mb-6 md:mb-0">
                        <%= form.label :CIDR, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 parse" do %>
                            Introduce the private IP
                        <% end %>
                        <%= form.text_field :CIDR, name: "vpn[CIDR]", id: "vpn_CIDR", class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full  px-3 mb-6 md:mb-0">
                        <%= form.label :IPv6, "Do you want to use IPv6?", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 parse"%>
                        <%= form.radio_button :IPv6, "yes"%>
                        <%= form.label :IPv6_true, "Yes" %>

                        <%= form.radio_button :IPv6, "no", checked: true%>
                        <%= form.label :IPv6_false, "No" %>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :port, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" do %>
                            Port
                        <% end %>
                        <%= form.text_field :port, value: "1194", name: "vpn[port]",class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :protocol, "Select a protocol", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :protocol, [['UDP(recommended)', 'udp'], ['TCP', 'tcp']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "protocol" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :dns_label, "DNS", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
                        <%= form.select :dns, [['Current system resolvers', '1'], ['Self-hosted DNS(unbound)', '2'], ['Cloudflare', '3'], ['Quad9','4'], ['Quad9 uncensored','5'], ['FDN(France)','6'], ['DNS.WATCH(Germany)','7'], ['OpenDNS','8'], ['Google','9'], ['Yandex Basic(Russia)','10'], ['AdGuard DNS','11'], ['NextDNS','12'], ['Write your custom DNS', '13']], { selected: '1' }, { class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: 'opciones_select' } %>

                        <div id="otra_opcion_input" style="display: none;">
                            <%= form.label :dns, "Primary DNS", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                            <%= text_field_tag 'otra_opcion', '', class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', id: "primaryDNS" %>

                            <%= form.label :dns, "Secondary DNS", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                            <%= text_field_tag 'otra_opcion', '', class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full', id: "secondaryDNS" %>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(function() {
                        $('#opciones_select').change(function() {
                            if ($(this).val() === '13') {
                                $('#otra_opcion_input').show();
                            } else {
                                $('#otra_opcion_input').hide();
                            }
                        });
                    });
                </script>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :IPv6, "Do you want to use compression? (Not recommended)", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
                        <%= form.radio_button :compression, "yes", id: "compression-btn", class:"compress-btn"%>
                        <%= form.label :compression_true, "Yes" %>

                        <%= form.radio_button :compression, "no", id: "compression-btn", class:"compress-btn-no", checked: true %>
                        <%= form.label :compression_false, "No" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6" id="compression-select" style="display: none;">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :compression, "Compression Options", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :compression_options, [[' lz4-v2', '1'], ['lz4', '2'], ['lzo', '3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "compressOpt"%>
                    </div>
                </div>
                <script>
                    $(document).ready(function() {
                        $('.compress-btn').click(function() {
                            $('#compression-select').show();
                        });
                        $('.compress-btn-no').click(function() {
                            $('#compression-select').hide();
                        }); 
                    });
                </script>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :encryption_lab, "Do you want to customize encryption settings ?", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.radio_button :encryption, "yes", id: "encryption-btn", class: "encryption-btn" %>
                        <%= form.label :encryption_true, "Yes" %>

                        <%= form.radio_button :encryption, "no",  id: "encryption-btn", class: "encryption-btn-no", checked: true %>
                        <%= form.label :encryption_false, "No" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6" id="encryption-select" style="display: none;">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :encryption_lab, "Choose which cipher do you want to use", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :encryption_options, [['AES-128-GCM(recommended)', '1'], ['AES-192-GCM', '2'], ['AES-256-GCM', '3'], ['AES-128-CBC', '4'], ['AES-192-CBC', '5'], ['AES-256-CBC', '6']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                
                        <%= form.label :encryption_lab, "Choose what kind of certificate you want to use.", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
                        <%= form.select :encryption_cert, [['ECDSA(recommended)', '1'], ['RSA', '2']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "certificate-select" %>
                        
                        <div id="certificate2-select" style="display: none;">
                            <%= form.label :encryption_lab, "Choose which curve want to use for the certificate's key", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
                            <%= form.select :compression_options_enc, [[' prime256v1', '1'], ['secp384r1', '2'], ['secp521r1', '3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>
  
                        <div id="certificate3-select" style="display: none;">
                            <%= form.label :encryption_lab, "Choose which size you want to use for the certificateś RSA key:", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"%>
                            <%= form.select :compression_options_key, [[' 2048 bits(recommended)', '1'], ['3072', '2'], ['4096', '3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>
                    </div>
                </div>


                <script>
                    $(document).ready(function() {
                        $('.encryption-btn').click(function() {
                            $('#encryption-select').show();
                            if ($('#certificate-select').val() === '1') {
                                $('#certificate2-select').show();
                                $('#certificate3-select').hide();
                            } else {
                                $('#certificate2-select').hide();
                            }
                            if ($('#certificate-select').val() === '2') {
                                $('#certificate3-select').show();
                            } else {
                                $('#certificate3-select').hide();
                            }
                        });

                        $('.encryption-btn-no').click(function() {
                            $('#encryption-select').hide();
                        });

                        $('#certificate-select').change(function() {
                            if ($(this).val() === '1') {
                                $('#certificate2-select').show();
                                $('#cipher_choice').show();
                            } else {
                                $('#certificate2-select').hide();
                                $('#cipher_choice').hide();
                            }
                            if ($(this).val() === '2') {
                                $('#certificate3-select').show();
                                $('#cipher_choice2').show();
                            } else {
                                $('#certificate3-select').hide();
                                $('#cipher_choice2').hide();
                            }
                        });
                    });
                </script>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :control_cipher, "Choose which cipher you want to use for the control channel", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <div id="cipher_choice">
                            <%= form.select :control_cipher, [['ECDHE-ECDSA-AES-128-GCM-SHA256(recommended)', '1'], ['ECDHE-ECDSA-AES-256-GCM-SHA384', '2']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher_choice" %>
                        </div>
                        <div id="cipher_choice2"  style="display: none;">
                            <%= form.select :control_cipher, [['ECDHE-RSA-AES-128-GCM-SHA256(recommended)', '1'], ['ECDHE-RSA-AES-256-GCM-SHA384', '2']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice2" %>
                        </div>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :diffie_hellman, "Choose Diffie-Hellman key you want to use", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :diffie_hellman, [['ECDH(recommended)', '1'], ['DH', '2']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "df_select" %>
                        <div id="diffie_hellman" >
                            <%= form.label :control_cipher, "Choose the curve type", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                            <%= form.select :control_cipherDH, [['prime256v1(recommended)', '1'], ['secp384r1', '2'], ['secp521r1', '3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice" %>
                        </div>
                        <div id="diffie_hellman2" style="display: none;">
                            <%= form.label :control_cipher, "Choose the size of the Diffie-Hellman key", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                            <%= form.select :control_cipherDH2, [['2048 bits(recommended)', '1'], ['3072', '2'],['4096','3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", id: "cipher-choice2" %>
                        </div>
                    </div>
                </div>

                <script>
                $(document).ready(function() {
                    $('#df_select').change(function() {
                    var selectedOption = $(this).val();
                    
                    if (selectedOption === 'ECDH') {
                        $('#diffie_hellman').show();
                        $('#diffie_hellman2').hide();
                    } else if (selectedOption === 'DH') {
                        $('#diffie_hellman').hide();
                        $('#diffie_hellman2').show();
                    } else {
                        $('#diffie_hellman').hide();
                        $('#diffie_hellman2').hide();
                    }
                    });
                });
                </script>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :digest_algorithm, "Select a digest algorithm for HMAC", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :digest_algorithm, [['SHA-256(recommended)', '1'], ['SHA-384', '2'], ['SHA512','3']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :tls_sig, "Additional security", class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
                        <%= form.select :tls_sig, [['tls-crypt(recommended)', '1'], ['tls-auth', '2']], {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <%= form.label :server_id, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" do %>
                            Server
                        <% end %>
                        <%= form.select :server_id, Server.pluck(:name, :id), {include_blank: true}, { data: {controller: 'slim'}, name: 'vpn[server_id]', selected: ['1'], disabled: true } %>
                        <label id="selected-server-label"></label>
                    </div>
                </div>

                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                    <%= form.label :technology, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" do %>
                        Technology
                      <% end %>
                      <%= form.text_field :technology, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight", readonly: true, value: "OpenVPN" %>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                    <%= form.label :users, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2", for: "users" do %>
                        Select users
                      <% end %>
                      <%= form.select :user_ids, User.pluck(:email, :id), {include_blank: true}, {multiple: true, data: {controller: 'slim'}, name: 'vpn[user_ids][]', selected: ['1'] } %>
                      <label id="selected-users-label"></label>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                    <%= form.label :vpn_admin_list, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2", for: "administrators" do %>
                        Select administrators
                      <% end %>
                      <%= form.select :vpn_admin_list, User.pluck(:email, :id), {include_blank: true}, {multiple: true, data: {controller: 'slim'}, name: 'vpn[vpn_admin_list][]', selected: [current_user.id.to_s] } %>
                      </div>
                </div>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3 mb-6 md:mb-0">
                        <label for="vpn_bandwidth" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Limit bandwidth</label>
                        <%= form.select :bandwidth, options_for_select([['Choose bandwidth(MB/s)', ''], ['5', 5], ['10', 10], ['25', 25], ['50', 50], ['75', 75], ['100', 100]]), { include_blank: true }, class: 'block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500', id: 'bandwidth' %>

                    </div>
                </div>

                </br>
                <div class="inline">
                <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
                </div>
        </div>

        <% end %>
        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="help" role="tabpanel" aria-labelledby="settings-tab">

        </div>
        <div class="bg-gray-50 p-4 rounded-lg dark:bg-gray-800 hidden" id="faq" role="tabpanel" aria-labelledby="contacts-tab">
            <div tabindex="0" class="collapse collapse-open border border-base-300 bg-base-100 rounded-box my-5">
                <div class="collapse-title text-xl font-medium">
                    How can I monitore a VPN?
                </div>
                <div class="collapse-content">
                    <p>You are only allowed to monitore a VPN if the signed user has an administrator role of it, there is an exceptional case, if the user is the global
                    administrator is able to monitore every single network. When one of these conditions have been accomplished, user can click at the home window the monitore
                    button of the VPN selected.
                    </p>
                </div>
            </div>
            <div tabindex="0" class="collapse collapse-open border border-base-300 bg-base-100 rounded-box my-5">
            <div class="collapse-title text-xl font-medium">
                How can I create a VPN?
            </div>
            <div class="collapse-content">
                <p>Every user is allowed to create a VPN. In the VPN window, user is automatically redirected to the VPN creation site, then user has to fill all the gaps in
                order to create the VPN desired.
                </p>
            </div>
        </div>       
    </div>

</div>

<script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>



