<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @vpn %>
    <img src="<%= @graphs[0] %>" alt="RRD graph">
    <img src="<%= @graphs[1] %>" alt="RRD graph">

    <%= link_to 'Edit this vpn', edit_vpn_path(@vpn), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this vpn', vpn_path(@vpn), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium", data: { confirm: 'Are you sure to delete this VPN and all of its clients?' }, onclick: "return confirm('Are you sure to delete this VPN and all of its clients?');" %>
    </div>
    <%= link_to 'Back to vpns', vpns_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
