<!DOCTYPE html>
<html>
  <head>
    <title>OrchestratorVPN</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <%if user_signed_in? %>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "VPN", vpn_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        <%else %>
          <li><a>Home</a></li>
          <li><a>VPN</a></li>
          <li><a>Contact</a></li>
        <%end %>
        </ul>
      </div>
      <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">OrchestratorVPN</span>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-20">
        <%if user_signed_in? %>
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "VPN", vpn_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        <%else %>
          <li><a>Home</a></li>
          <li><a>VPN</a></li>
          <li><a>Contact</a></li>
        <%end %>
      </ul>
    </div>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <%= button_to "Sign out ", destroy_user_session_path, method: :delete, class:"btn" %>
        <%= link_to "Edit Profile ", edit_user_registration_path, class:"px-8" %>
      <% else %>
        <%= button_to "Sign in" , new_user_session_path, class: "btn"%>
      <% end %>
    </div>
  </div>
  <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">




  <%= yield %>

  </body>
</html>
